<div class="container">
    <div class="row">
        <div class="card border-light shadow-lg mt-3">
            <div class="card-body">
                <h5 class="fw-bold">
                    <i class="fa-solid fa-plus-minus"></i>
                    คำสั่งซื้อ
                </h5>

                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            คำสั่งซื้อ
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="card border-light shadow-lg mt-3">
            <div class="card-body">
                <h5 class="text-muted fw-bold px-6 mb-3 col-md-3">บิลสั่งซื้อ</h5>
                <hr />

                <div class="row g-3">
                    <div class="col-md-2">
                        <label for="staticEmail" class="form-label" >ช่องทางการชำระ</label>
                        <select class="form-select"  (change)="changselecttypesell($event)"
                            [(ngModel)]="formord.ORD_TYPESELL" aria-label="Default select example"  >
                            <option selected value="1">เงินสด</option>
                            <option value="2">เครดิต</option>
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="staticEmail" class="form-label">ชื่อลูกค้า</label>
                        <input type="text" class="form-control" placeholder="กรอกชื่อลูกค้า" [(ngModel)]="formord.CUS_NAME" />
                    </div>
                    <div class="col-md-2">
                        <label for="staticEmail" class="form-label">วันที่สั่งซื้อ</label>
                        <input type="date" class="form-control" [(ngModel)]="formord.ORD_DAT" />
                    </div>
                    <input type="hidden" name="CTZAN" [(ngModel)]="formord.CTZAN_ID" [value]="formord.CTZAN_ID">
                    <div class="col-md-6">
                        <label for="staticEmail" class="form-label">ที่อยู่</label>
                        <textarea class="form-control" aria-label="With textarea" placeholder="กรอกที่อยู่ลูกค้า"
                            [(ngModel)]="formord.CUS_ADR"></textarea>
                        <!-- <input type="text" class="form-control" [(ngModel)]="formord.CUS_ADR" /> -->
                    </div>

                    <hr class="mt-5" />
                    <h5 class="text-muted fw-bold px-6 mb-3">เพิ่มรายการสินค้าในบิล</h5>

                    <div class="Card">


                        <div class="col-md-3">
                            <div class="input-group flex-nowrap">
                                <!-- Button trigger modal -->
                                <div class="input-group " data-bs-toggle="modal" data-bs-target="#exampleModalss">
                                    <button type="button" class="btn btn-success"><i
                                            class="fa-regular fa-square-plus"></i> เพิ่มรายการสินค้า</button>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-5" />
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalss" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-white">
                                        <h5 class="modal-title" id="exampleModalLabel">เพิ่มรายการสินค้าในบิล</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container mt-3">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label for="staticEmail" class="form-label">ค้นหาสินค้า</label>
                                                        <div class="input-group">
                                                            <div class="input-group-text text-success"
                                                                id="btnGroupAddon2">
                                                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                                            </div>
                                                            <input type="text" class="form-control "
                                                                id="exampleDataList" [(ngModel)]="searchTerm"
                                                                (input)="search()" placeholder="Type to search..."
                                                                list="datalistOptions" />
                                                            <datalist id="datalistOptions">
                                                                <option *ngFor="let result of results "
                                                                    [value]="result.PRD_ID + ' - ' + result.PRD_NAME + ' - ' + result.TYPE_NAME + ' - ' + result.SIZE_NAME">
                                                                </option>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card-body">
                                                    <div style="overflow-x: auto;">
                                                        <table class="table table-hover ">
                                                            <thead>
                                                                <tr class="table-primary">
                                                                    <th scope="col">รหัสสินค้า</th>
                                                                    <th scope="col">ชื่อสินค้า</th>
                                                                    <th scope="col">ประเภท</th>
                                                                    <th scope="col">ไซส์</th>
                                                                    <th scope="col">ราคาขาย</th>
                                                                    <th scope="col">จำนวน</th>
                                                                    <th scope="col">ราคาขาย/หน่อย</th>
                                                                    <th scope="col">เลือก</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let result of results">
                                                                    <td>{{ result.PRD_ID }}</td>
                                                                    <td>{{ result.PRD_NAME }}</td>
                                                                    <td>{{ result.TYPE_NAME }}</td>
                                                                    <td>{{ result.SIZE_NAME }}</td>
                                                                    <td>{{ result.PRD_PRICE }}</td>
                                                                    <td>
                                                                        <div class="input-group mb-1"
                                                                            style="width: 150px;">
                                                                            <input type="number" class="form-control"
                                                                                placeholder="จำนวน"
                                                                                [(ngModel)]="result.PRD_NUMB" min="1"
                                                                                aria-label="Recipient's username"
                                                                                aria-describedby="basic-addon2">
                                                                            <span class="input-group-text"
                                                                                id="basic-addon2">ชิ้น</span>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <div class="input-group col-md-2"
                                                                            style="width: 200px;">
                                                                            <span class="input-group-text">฿</span>
                                                                            <input type="text" class="form-control "
                                                                                placeholder="ราคาขาย"
                                                                                [(ngModel)]="result.ORDD_PRICE"
                                                                                aria-label="Amount (to the nearest dollar)">
                                                                            <span class="input-group-text">บาท</span>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <button type="button" class="btn btn-success"
                                                                            (click)="selectitem(result)">
                                                                            <i class="fa-solid fa-arrow-down"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i
                                                class="fa-solid fa-xmark me-1"></i>ยกเลิก</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <h5 class="text-muted fw-bold px-6 mb-1 col-12">
                            รายการสินค้าในบิล
                            <!-- Button trigger modal -->
                            <button type="button" class="btnsave btn btn-primary float-end mb-2" data-bs-toggle="modal" 
                                (click)="save(formord)">
                                <i class="fa-solid fa-clipboard-list"></i>
                                จบรายการขาย
                            </button>
                            <!-- Button trigger modal แก้ไข -->
                        </h5>
                        <div class="container mt-3">
                            <table #receipt class="table table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col">รหัสสินค้า</th>
                                        <th scope="col">ชื่อสินค้า</th>
                                        <th scope="col">ประเภท</th>
                                        <th scope="col">ไซส์</th>
                                        <th scope="col">จำนวน</th>
                                        <th scope="col">ราคาขาย/หน่วย</th>
                                        <th scope="col">ราคารวม</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of formord.datavar">
                                        <td>{{item.PRD_ID}}</td>
                                        <td>{{item.PRD_NAME}}</td>
                                        <td>{{item.TYPE_NAME}}</td>
                                        <td>{{item.SIZE_NAME}}</td>
                                        <td>{{item.PRD_NUMB}}</td>
                                        <td>{{item.ORDD_PRICE}}</td>
                                        <td>{{ item.PRD_NUMB * item.ORDD_PRICE }}</td>

                                        <td>
                                            <button type="button" class="btn btn-danger"
                                            (click)="selectitemDELETE(item)">
                                            <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="table-primary">
                                        <th scope="row"></th>
                                        <td colspan="4"></td>
                                        <td class="table-active"></td>
                                        <td class="table-active text-danger fw-bold ">ยอดรวม {{ calculateSum() }} </td>
                                        <td class="table-active"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-5" />
            <app-payment [paymentData]="paymentData" (paymentSaved)="refreshPayment()" (paymentDataUpdated)="refreshPaymentData()"></app-payment>        </div>