<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">

      <div class="row justify-content-center center-screen" *ngIf="loading">
        <div class="spinner-border " role="status" id="loading" ></div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="card mb-5"style="box-shadow: 0 0 10px 0 cornflowerblue">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">STOCK RUTS</h5>
                <!-- <p class="text-center small">Enter your username & password to login</p> -->
              </div>

              <form class="row g-3 needs-validation" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="col-12">
                  <label for="yourUsername" class="form-label">Username</label>
                  <div class="input-group has-validation">
                    <input type="text" name="username" [ngClass]="username.errors && f.submitted ? 'form-control is-invalid' : 'form-control'"
                    [(ngModel)]="form.username" required #username="ngModel" placeholder="E-passport" />
                  <div id="validationServer03Feedback" class="invalid-feedback" *ngIf="username.errors && f.submitted">Username is required!</div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Password</label>
                  <input type="password" name="password" [(ngModel)]="form.password" required  #password="ngModel" placeholder="Password"
                  [ngClass]="password.errors && f.submitted ? 'form-control is-invalid' : 'form-control'" />
                <div id="validationServer04Feedback" class="invalid-feedback" *ngIf="password.errors && f.submitted">Password is required!</div>
                </div>

                
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Login</button>
                </div>
                <div class="col-12">
                 
                </div>
              </form>

            </div>
          </div>

          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
           
          </div>

        </div>
      </div>
    </div>

  </section>
