<div class="container">
    <div class="row mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">สินค้าทั้งหมด</li>
            </ol>
        </nav>

        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNHo6FzfWioVu2P6hkCB0Yyq7HpBvAxvQZvNX4NeHww&s"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold ">เสื้อกิจกรรม</h5>
                    <p>
                        <span class="sale-price fw-bold " style="color: red; font-size: 22px;">฿ 250</span>
                        <span class=" float-end mt-1"> เหลืออีก 60 ชิ้น</span>
                    </p>


                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                        เลือกซื้อสินค้า
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNHo6FzfWioVu2P6hkCB0Yyq7HpBvAxvQZvNX4NeHww&s"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold ">เสื้อกิจกรรม</h5>
                    <p>
                        <span class="sale-price fw-bold " style="color: red; font-size: 22px;">฿ 250</span>
                        <span class=" float-end mt-1"> เหลืออีก 60 ชิ้น</span>
                    </p>


                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                        เลือกซื้อสินค้า
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNHo6FzfWioVu2P6hkCB0Yyq7HpBvAxvQZvNX4NeHww&s"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold ">เสื้อกิจกรรม</h5>
                    <p>
                        <span class="sale-price fw-bold " style="color: red; font-size: 22px;">฿ 250</span>
                        <span class=" float-end mt-1"> เหลืออีก 60 ชิ้น</span>
                    </p>


                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                        เลือกซื้อสินค้า
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNHo6FzfWioVu2P6hkCB0Yyq7HpBvAxvQZvNX4NeHww&s"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold ">เสื้อกิจกรรม</h5>
                    <p>
                        <span class="sale-price fw-bold " style="color: red; font-size: 22px;">฿ 250</span>
                        <span class=" float-end mt-1"> เหลืออีก 60 ชิ้น</span>
                    </p>


                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                        เลือกซื้อสินค้า
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">เลือกซื้อสินค้า</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body ">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 ">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo04Y0umVpGS35KfbsVWkItGiNbesKqmudkDvMzsrZPVc7-KXuaM1JsXGh6yurSnS3Pm8&usqp=CAU"
                                        alt="">
                                </div>
                                <div class="col-6">
                                    <h5>เสื้อกิจกรรม</h5>
                                    <p>
                                        <span class="sale-price fw-bold " style="color: red; font-size: 22px;">฿
                                            250</span>
                                        <span class=" float-end mt-1"> เหลืออีก 60 ชิ้น</span>
                                    </p>
                                    <hr>
                                    <h6>ไชต์</h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">S</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">M</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">L</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                        <label class="form-check-label" for="inlineRadio4">XL</label>
                                      </div>
                                      
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-primary">เพิ่มเข้ารถเข็น</button>
                                      </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>