<div class="container">
    <h3 class="p-2 flex-grow-1 fw-bold">
        ติดตามสถานะ
      </h3>
    <div class="card-body">
        <table class="table table-borderless table-hover">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>วันที่สั่งซื้อ</th>
                    <th>เลขที่การสั่งซื้อ</th>
                    <th>สถานะการชำระเงิน</th>
                    <th>สถานะการส่ง</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>วว/ดด/ปป</td>
                    <td>1152</td>
                    <td><span class="badge text-bg-primary">ชำระเงินแล้ว</span></td>
                    <td><span class="badge text-bg-warning">กำลังส่ง</span></td>
                    
            </tbody>
        </table>
    </div>
</div>

