/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Mitr&display=swap');



// *{
//     font-family: 'K2D', sans-serif;
// }

body{
    background-color: #B0E2FF;
//    background-image: url(https://c4.wallpaperflare.com/wallpaper/491/218/337/abstract-colorful-gradient-wallpaper-preview.jpg);
//     background-size: cover;
}

tr:hover {
    background: #F0FFFF;
  }

  